{% extends 'core/base.html' %}


{% block content %}
    <div class="container зч-4">
        <div class="row-cols-md-1 gx-5">
            <form method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">
                    {% if object %}
                        Редактирование заявки
                    {% else %}
                        Заявка на генетическое исследование
                    {% endif %}</h1>
                <p class="text-monospace">Пожалуйста, заполните поля ниже</p>
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
                <a href="{% url 'core:home' %}">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}
