{% extends 'core/base.html' %}

{% block content %}


    <div class="container">
        <h2 class="mt-4">{% if category.description %} {{ category|capfirst }} {% else %}Все услуги {% endif %}</h2>
        <p>{% if category.description %} {{ category.description }} {% endif %}</p>
        <div class="row mb-3">
            <div class="col-md-3"><strong>Наименование</strong></div>
                <div class="col-md-6"><strong>Описание услуги</strong></div>
                <div class="col-md-3"><strong>Цена</strong></div>
            </div>
        {% for object in object_list %}
            <div class="row mb-3">
                <div class="col-md-3 themed-grid-col"> <a href="{% url 'main:service_detail' object.pk %}" class="text-dark"> {{ object.name|capfirst }}</a></div>
                <div class="col-md-6 themed-grid-col">{{ object.description|capfirst }}</div>
                <div class="col-md-3 themed-grid-col">{{ object.price }}</div>

            </div>
        {% endfor %}
{% endblock %}